apiVersion: v1
metadata:
  name: {{ openshift_cluster_name }}
baseDomain: {{ openshift_base_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
networking:
  clusterNetwork:
  - cidr: {{ openshift_cluster_cidr }}
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ openshift_service_cidr }}
platform:
  azure:
    region: {{ azure_location }}
    baseDomainResourceGroupName: {{ azure_dns_zone_resource_group_name }}
pullSecret: '{{ openshift_pull_secret }}'
sshKey: '{{ openshift_ssh_key }}'